img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  body nav {
    position: relative;
    z-index: 3;
    padding: 1.6rem 6rem;
    background-color: #181818;
  }
  nav .logo {
    margin-right: 3rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style: none;
  }

  nav ul li a {
    color: white;

    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
  }

  nav .right {
    margin-left: 5rem;
  }
  a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  .logo.align-self-start {
    margin-right: 5rem;
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  .item1 {
    flex-grow: 1;
    margin-top: 4rem;
    text-align: center;
  }
  .item2 button {
    margin: 0 1rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    width: 15rem;
  }

.btn_black {
  background: #484848;
  color: white;
}
.btn_white:hover {
  background: blue;
  color: white;
  transition: .5s ease;
}
.btn_white {
  transition: .5s ease;
}

.btn_black:hover {
  color: blue;
  transition: .3s ease;
}
.btn_black {
  transition: .3s ease;
}
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    .footer-dark .item.text {
      margin-bottom:0;
    }
    .content a{
      font-size: 0.8rem !important;
      text-align: center;
    }
    .containerNews{
        height: 100%;
    }
  }

  .footer-dark .item.text {
    margin-bottom:36px;
  }


  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }

  .footer-dark .item.social {
    text-align:center;
  }

  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }



  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }

  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  .footer-dark .container {
    display: inherit;
  }

  .jumbotron {
    height: 85vh;
    position: relative;
  }
  .jumbotron .container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 75vh;
  }

  .banner1{
    width: 100%;
    color: black;
    padding: 0;
    margin: 0;
  }

  .background-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .responsive-image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
  }
  .responsive-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  .container {
    max-width: 160rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
  }
  .tile-container {
    flex-flow: nowrap;
    display: flex;
    margin: 0;
    height: 70vh;
  }

  .flex-item {
    flex: 1;
  }

  .homepage-tile {
    position: relative;
  }

  a.tile-btn {
    display: block;
    transition: none;
  }

  .tile-wrapper {
    height: 100%;
    width: 100%;
    max-height: 600px;
    margin: 0;
  }

  .tile-wrapper-text-left {
    z-index: 2;
    bottom: auto;
    width: 100%;
    top: calc(50% - 339px);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    text-align: center;
    transition: .5s ease;
  }
  .tile-wrapper-text-right {
    z-index: 2;
    right: 50%;
    bottom: auto;
    width: calc(50% + 20px);
    top: calc(50% - 29px);
    position: absolute;
    left: -20px;
    text-align: center;
  }

  .tile-wrapper-text-light {
    z-index: 2;
    position: absolute;
    align-items: center;
    display: grid;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  .tile-wrapper-text-light:hover {
    opacity: 1;
    background: lightgray;
    transition: .5s ease;
  }
  .tile-wrapper-text-light h3 {
    color: white;
  }

  a.tile-btn {
    display: block;
    transition: none;
  }

  .tile-wrapper {
    height: 100%;
    width: 100%;
    max-height: 700px;
    margin: 0;
  }

  .tile-wrapper-image img {
    min-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }
  .tile-wrapper h3 {
    position: relative;
    margin: 60px auto 0;
    padding: 0;
    color: black;
    font-size: 3rem;
  }


  .tile-container1 {
    flex-flow: row wrap;
    display: flex;
    padding: 0 20px;
    margin: 0;
    height: 58rem;
  }
  .tile-wrapper-text-dark {
    z-index: 2;
    position: absolute;
    left: 45%;
    top: 18%;
    text-align: center;
  }
  .homepage-tile-large img {
    height: 920px;
    overflow: hidden;
    object-fit: cover;
    min-width: 100%;
    width: 50%;
    object-position: center;
  }
  .homepage-tile-large {
    margin-bottom: 20px;
    position: relative;
    height: 60rem;
  }
  .tile-wrapper-image {
    display: block;
  }
  .homepage-tile-large .tile-wrapper-text-dark {
    top: 30%;
  }

.list-group.list-group-flush {
  background: none;
  width: 100%;
}
.list-group-item {
  background: none;
  text-align: initial;
  border: 1px solid black;
  color: black;
  height: 6rem;
  font-size: 25px;
  text-align: center;
}

.tile-wrapper-text-left:hover {
  opacity: 1;
  transition: .5s ease;
}
  @media (min-width: 1040px){
    body{
        width:100%;

    }
}
@media (max-width: 576px){
    body{
        width: 100%;

    }
}
@media (min-width: 577px){
    body{
        position:absolute;

    }
}
