.jumbotron
{
    width: 100%;
}

a {
    font-family: 'Roboto', sans-serif;
  }
  .logo.align-self-start {
    margin-right: 5rem;
  }
  img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  body nav {
    position: relative;
    z-index: 3;
    padding: 1.6rem 6rem;
    background-color: #181818;
  }
  nav .logo {
    margin-right: 3rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: white;
    
    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
  }
  
  nav .right {
    margin-left: 5rem;
  }

@media screen and (max-width: 900px)
{
    *
    {
      display: block;
    }
}
.jumbotron {
  height: 60vh;
}
.banner1{
  background:url(images/banner1.jpg);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}