.jumbotron
{
  height: 80vh;
    width: 100%;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  .logo.align-self-start {
    margin-right: 5rem;
  }
  img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  body nav {
    position: relative;
    z-index: 3;
    padding: 1.6rem 6rem;
    background-color: #181818;
  }
  nav .logo {
    margin-right: 3rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: white;

    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
  }

  nav .right {
    margin-left: 5rem;
  }

@media screen and (max-width: 900px)
{
    *
    {
      display: block;
    }
}
.jumbotron {
  height: 80vh;
  position: relative;
}
.banner1{
  width: 100%;
  color: black;
}

.background-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
.responsive-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}
.responsive-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}
.containerNews
{
  width:100%;
  height:60vh;
  display: grid;
  background-color: grey;
  overflow: hidden;

}
.containerNews img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}
.content{
  height: 100%;
}
.content p{
  font-size: 2.5rem;
}
.tile {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.tile-content {
  width: 100%;
  z-index: 1;
  text-align: center;
}
.tile-content h3 {
  color: white;
  padding: 1rem 6.5rem;
  font-size: 50px;
  transition: 0.5s ease;
}
.tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tile-content h4 {
  color: white;
  padding: 0 6.5rem 3rem;
  transition: 0.5s ease;
}

p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0;
  transition: 0.5s ease;
}
