body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 24px;
}
img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.product-item {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.product-item .down-content {
	padding: 30px;
	position: relative;
}

.product-item img {
	width: 100%;
	overflow: hidden;
}

.product-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.product-item .down-content h6 {
	font-size: 18px;
	margin-bottom: 15px;
	color: #121212;
}

.product-item .down-content h6 small{
	color: #999;
}

.product-item .down-content p {
	margin-bottom: 20px;
}

.product-item .down-content ul li {
	display: inline-block;
}

.product-item .down-content ul li i {
	color: #f33f3f;
	font-size: 14px;
}

.product-item .down-content span {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
}

.col-md-12 h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.col-md-12 h3 {
  padding-bottom: 1rem ;
}
body nav {
  background-color: #212529 !important;
}

.navbar.navbar-dark.bg-dark.navbar-expand-sm {
  padding: 0.6rem 6rem;
}
nav .logo {
  margin-right: 3rem;
}
.nav-link {
  margin-right: 3rem;
}

/* Responsive Style */
@media (max-width: 768px) {

}

@media (max-width: 992px) {

}
