a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
  }
  .logo.align-self-start {
    margin-right: 5rem;
  }
  img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  body nav {
    position: relative;
    z-index: 3;
    padding: 1.6rem 6rem;
    background-color: #181818;
  }
  nav .logo {
    margin-right: 3rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: white;

    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
  }

  nav .right {
    margin-left: 5rem;
  }

  .jumbotron {
    height: 85vh;
    position: relative;
  }
  body {
      position: absolute;
  }
  .banner1{
    width: 100%;
    color: black;
    padding: 0;
    margin: 0;
  }
  
  .background-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .responsive-image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
  }
  .responsive-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  
  .container {
    max-width: 160rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
  }


  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    .footer-dark .item.text {
      margin-bottom:0;
    }
    .content a{
      font-size: 0.8rem !important;
      text-align: center;
    }
    .containerNews{
        height: 100%;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  .p_lorem{
    font-size:16px;
  }
  
  .ion-chatbubble
  {
    color: white;
  
      float: right;
      margin-right: 30px;
      margin-top: 25px;
  }
  .item1 {
    flex-grow: 1;
    margin-top: 4rem;
    text-align: center;
  }
  .jumbotron .container {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 75vh;
  }
  .footer-dark .container {
    display: inherit;
  }
  .item2 button {
    margin: 0 1rem;
    color: white;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    width: 15rem;
  }
  .btn_black {
    background: #484848;
  }
  .btn_white {
    background: white;
    color: black !important;
    transition: 0.5s ease;
  }
  
  .btn_black:hover
  {
    font-weight: bolder ;
    color: blue !important;
  }
  
  .btn_white:hover
  {
    color:white !important;
    background-color: blue  !important;
    transition: 0.5s ease;
  }
  .jumbotron h1{
      text-align: start;
      font-size:5rem ;
      padding-left: 3rem;
  }
  .jumbotron h2{
    text-align: start;
    font-size:7rem ;
    padding-left: 3rem;
    margin-bottom: 4rem;
}

.info{
    width: 100%;
    display:flex;
    padding-top: 7rem;
    padding-left: 5rem;
    
}
.info h3{
    font-size: 4rem;
}
.topspeed{
    margin-left:5rem;
}

.accel{
    margin-left:5rem;
}


/* reponsive */
@media (max-width:1215px)
{
    .jumbotron h1{
        text-align: start;
        font-size:3rem ;
     
    }
    .jumbotron h2{
      text-align: start;
      font-size: 5rem;
  }
  .info{
    padding-top: 2rem;
  }
  .info h3{
    font-size: 2.8rem;
    
}

}
@media (max-width:1135px)
{
  .jumbotron h1 {
    text-align: start;
    font-size:3rem ;  
  }
  .jumbotron h2 {
    text-align: start;
    font-size: 5rem;
  }
  .info h3 {
    font-size: 2.8rem;
  }
}

@media (max-width:575px)
{
    .jumbotron h1{
        text-align: start;
        font-size:3rem ;
     
    }
    .jumbotron h2{
      text-align: start;
      font-size: 4rem ;
  }
  .info h3{
    font-size: 2.5rem;
}
}
@media (max-width:376px)
{
    .jumbotron h1{
        text-align: start;
        font-size:3rem ;
     
    }
    .jumbotron h2{
      text-align: start;
      font-size:3.8rem ;
 
  }
}
@media (max-width:376px)
{
    .jumbotron h1{
        text-align: start;
        font-size:2rem ;
     
    }
    .jumbotron h2{
      text-align: start;
      font-size: 4rem;
 
  }
}
@media (max-width:374px)
{
    .jumbotron h1{
        text-align: start;
        font-size:2rem ;
     
    }
    .jumbotron h2{
      text-align: start;
      font-size: 3.2rem;
  }
}
/* reponsive end*/

.row {
  width: 100%;
 
}
/* overview */

.container-overview{
  width: 100%;
  display: grid;
  height: fit-content;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.container-overview img{
  width: 100%;
}
.container-overview para{
  font-style: bolder  ;
}

.container-overview h1{
  padding-top: 30px;
  text-align: center;
}

/* overview */


/* exeriror */

.container-exterior{
  width: 100%;
  display: grid;
  height: fit-content;
  padding-left: 1.5rem;
}

.container-exterior img{
  width: 100%;
}
.container-exterior para{
  font-style: bolder  ;
}

.container-exterior h1{
  padding-top: 30px;
  text-align: center;
}


/* exeriror */

/* interior */

.container-interior{
  width: 100%;
  display: grid;
  height: fit-content;
  padding-left: 1.5rem;
}

.container-interior img{
  width: 100%;
}
.container-interior para{
  font-style: bolder  ;
}

.container-interior h1{
  padding-top: 30px;
  text-align: center;
}

/* interior */
ul.list-group.list-group-flush {
  align-items: center;
}

.container-list {
  margin: 3rem 0;
}
li.list-group-item {
  display: flex;
  border-left: none;
  border-right: none;
  align-items: center;
  padding: 1.2rem;
}
.list-group-item h2 {
  margin-left: 25rem;
  text-align: right;
  flex: 1 1 auto!important;
}

.list-group-item h3 {
  font-size: 1.3rem;
}

.list-group h1 {
  margin-bottom: 2rem;
}
