.jumbotron
{
  height: 80vh;
  width: 100%;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
  }
  .logo.align-self-start {
    margin-right: 5rem;
  }
  img {
    width: 3rem;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  body nav {
    position: relative;
    z-index: 3;
    padding: 1.6rem 6rem;
    background-color: #181818;
  }
  nav .logo {
    margin-right: 3rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    list-style: none;
  }
.block {
    float: left;
    width: 25%;
    height: 150px;
}
.hovicon {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
}
.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {

    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
 .hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-
  {
    background: rgba(255, 255, 255, 1);
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover i {
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


  nav ul li a {
    color: white;

    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
  }

  nav .right {
    margin-left: 5rem;
  }

@media screen and (max-width: 900px)
{
    *
    {
      
    }

    head
    {
        display: none;
    }

    .hamburger a
    {
        display: block !important;
        padding-left: 20px;
        color: white;
        text-decoration: none;
    }
    .tile-content p {
        font-size: 1.5rem;
    }
    .tile-content h3 {
        font-size: 1.8rem!important;
    }
    .tile-content h4 {
        font-size: 1rem;
    }
}
.jumbotron {
  height: 85vh;
  position: relative;
}
body {
    position: absolute;
}
.banner1{
  width: 100%;
  color: black;
  padding: 0;
  margin: 0;
}

.background-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
.responsive-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}
.responsive-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}
.containerNews
{
  width:100%;
  height:50vh;
  display: grid;
  background-color: white;
  overflow: hidden;
  color: black;
  padding-left: 20px;
  padding-right: 20px !important;

  margin-bottom: 30px;
}
.containerNews img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  height: 50vh;
  position: relative;
  object-fit: cover;
}

.content{
  margin-top: 25px;
  height: 100%;
  align-items: center ;
}
.content p{
  color:black;
  font-size: 1.4rem;
  padding: 2rem 0 3rem;
}
.content a{
    font-size: 0.8rem;
    text-align: center;
}
.content h4{
  width:fit-content;
}
.content button{
  background: white;
  border-radius:5px ;
  border: 1px solid #181818;
  width: 15rem;
  height: 3rem;
}
.tile {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.tile-content {
  width: 100%;
  z-index: 1;
  text-align: center;
}
.tile-content h3 {
  color: white;
  padding: 1rem 6.5rem;
  font-size: 50px;
  transition: 0.5s ease;
}
.tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tile-content h4 {
  color: white;
  padding: 0 6.5rem 3rem;
  transition: 0.5s ease;
}

p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0;
  transition: 0.5s ease;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
  .footer-dark .item.text {
    margin-bottom:0;
  }
  .content a{
    font-size: 0.8rem !important;
    text-align: center;
  }
  .containerNews{
      height: 100%;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}


.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}



.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
.p_lorem{
  font-size:16px;
}

.ion-chatbubble
{
  color: white;

    float: right;
    margin-right: 30px;
    margin-top: 25px;
}
.item1 {
  flex-grow: 1;
  margin-top: 4rem;
  text-align: center;
}
.jumbotron .container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 75vh;
}
.footer-dark .container {
  display: inherit;
}
.item2 button {
  margin: 0 1rem;
  color: white;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  width: 15rem;
}
.btn_black {
  background: #484848;
}
.btn_white {
  background: white;
  color: black !important;
  transition: 0.5s ease;
}

.btn_black:hover
{
  font-weight: bolder ;
  color: blue !important;
}

.btn_white:hover
{
  color:white !important;
  background-color: blue  !important;
  transition: 0.5s ease;
}
.item3 {
  padding: 3rem 0 2rem 3rem;
}
.content a:hover {
  color: white;
  background: #181818;
  transition: .5s ease;
}
.content a {
  border: 1px solid #181818;
  padding: 1rem 7rem;
  transition: .5s ease;
}

.hamburger a
{
    display: none;
}

<<<<<<< HEAD
=======
/* header */

.header {
  background-color: rgb(43, 42, 42);
  box-shadow: 1px 1px 4px 0 rgba(250, 7, 7, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(43, 42, 42);
}

.header li a {

  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color:blue !important;

}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  margin-top: 25px;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 35px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 768px) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
    margin-right:120px;
  }
  .header .menu-icon {
    display: none;
  }
   .jumbotron{
    padding-top: 120px !important;
   }
}
@media (max-width: 768px) {
  .jumbotron{
    padding-top: 50px !important ;
   }
}
@media (min-width: 900px) {
  .jumbotron{
    padding-top: 40px !important ;
   }
}
>>>>>>> 829f4d19b5f6d025deac60e027ce0206e4579671
